<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Remember - Multipurpose bootstrap site template</title>
   {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" />
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Theme skin -->
  <link id="t-colors" href="{% static 'color/default.css' %}" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />

  <!-- =======================================================
    Theme Name: Remember
    Theme URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <div id="wrapper">
    <!-- start header -->
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="#">Home</a> &#47;</li>
                <li><a href="#">Terms</a> &#47;</li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
            <div class="span6">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="container">


        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <h1><a href="/index"><i class="icon-tint"></i>who we are</a></h1>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li><a href="/index">Home</a></li>
                    <li class="dropdown">
                      <a href="#">Features <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="icon-variations.html">Icon variations</a></li>

                      </ul>
                    </li>
                    <li class="dropdown active">
                      <a href="#">Pages <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="pricingbox.html">Pricing boxes</a></li>
                        <li><a href="404.html">404</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Portfolio <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="portfolio-2cols.html">Portfolio 2 columns</a></li>
                        <li><a href="portfolio-3cols.html">Portfolio 3 columns</a></li>
                        <li><a href="portfolio-4cols.html">Portfolio 4 columns</a></li>
                        <li><a href="portfolio-detail.html">Portfolio detail</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Blog <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                        <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                        <li><a href="post-left-sidebar.html">Post left sidebar</a></li>
                        <li><a href="post-right-sidebar.html">Post right sidebar</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/forcontact">Contact </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <!--h2>About us</h2-->
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="/index">Home</a> <i class="icon-angle-right"></i></li>
              <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
              <li class="active">About us</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <ul class="row">

          <h3><strong> <font style="color:blue;font-family:Times New Roman;"/><i>Role Of Rehabilitation Centers</i></strong></h3>
            <p><font style="color:black;font-family:Times New Roman "/>With the increasing number of addicted patients, Rehabilitation center has become the need of the hour. Not only the number of patients but also the number of rehabilitation centers is increasing year by year.<br>In giving life to the drug battered people, the role of Rehabilitation centers is becoming crucial with the pace of time. To impart love and care to the inmates, the whole staffs of the center is chosen with the utmost care. The requirements of the patients are kept in consideration. Be it at a physical, social, mental or spiritual level.</p>>

<figure>
  <div><img src="{% static 'img/mypics/rehab.jpg' %}" alt=""></div>
</figure>

          <h4><font style="color:blue;size:50;font-family:Times New Roman "/><strong>Stimulants</strong></h4>
<p><font style="color:black;font-family:Times New Roman "/>These drugs speed up the body’s nervous system and create a feeling of energy. They are also called “uppers” because of their ability to make you feel very awake. Stimulants have the opposite effect of depressants. When the effects of a stimulant wear off, the user is typically left with feelings of sickness and a loss of energy. Constant use of such drugs can have very negative effects on the user. In order to prevent extreme negative side effects of these drugs and the impact they have on life, drug treatment centers are often recommended.</p>

          <font style="color:blue;size:20"/><strong>Types of drugs include:</strong>

          <font style="color:black;"/><p><ul type="circle"><li> Cocaine</li>
          <li>Methamphetamines</li>
          <li>Amphetamine</li>

 <li>Ritalin</li>
 <li>Cylert</li>
 <li>Inhalants</li>
        </ul>
    Inhalants are sniffed or huffed and give the user immediate results. Unfortunately, these immediate results can also result in sudden mental damage. When inhalants are taken, the body becomes deprived of oxygen, causing a rapid heartbeat. Other effects include liver, lung and kidney problems, affected sense of smell, difficulty walking and confusion.</ul>

<font style="color:blue;size:20"/><strong>Types of drugs include:</strong>


        <font style="color:black;"/><ul type="circle"> <li>Glues</li>
          <li>Paint thinner</li>
  <li>Gasoline</li>
  <li>Laughing gas</li>
  <li>Aerosol sprays</li>
  <li>Cannabinoids</li>
<p>These drugs result in feelings of euphoria, cause confusion and memory problems, anxiety, a higher heart rate, as well as staggering and poor reaction time.</p>
<strong><font style="color:blue;"/>Types of drugs include:<br/></strong>

 <font style="color:black;"/><ul type="circle"><li>Hashish</li>
 <li>Marijuana</li>
<li> Depressants</li>
        </ul>
<p>Depressants slow down activity in the central nervous system of your body. These drugs are also called “downers” because they slow the body down and seem to give feelings of relaxation. Depressants are available as prescription drugs to relieve stress and anger, although drowsiness is often a side effect. The “relaxation” felt from these drugs is not a healthy feeling for the body to experience, to stop abuse of this drug, drug treatment is suggested.</p>

<font style="color:blue;size:20"/><strong>Types of drugs:<br/></strong>

          <font style="color:black;"/><ul type="circle"><li> Barbiturates</li>
 <li>Benzodiazepines</li>
 <li>Flunitrazepam</li>
 <li>GHB (Gamma-hydroxybutyrate)</li>
 <li>Methaqualone</li>
 <li>Alcohol</li>
<li>Tranquillisers</li>
 <li>Opioids & Morphine Derivatives</li>
          </ul>
          <p>Opioids and morphine derivatives can cause drowsiness, confusion, nausea, feelings of euphoria, respiratory complications and relieve pain.<br/></p>

<font style="color:blue;size:20"/>Types of drugs include:<br/>

          <font style="color:black;"/><ul type="circle"> <li>Codeine</li>
 <li>Fentanyl and fentanyl analogs</li>
 <li>Heroin</li>
<li> Morphine</li>
 <li>Opium</li>
 <li>Oxycodone HCL</li>
<li> Hydrocodone bitartrate, acetaminophen</li>
 <li>Anabolic Steroids</li>
        </ul>
    <p>Steroids are taken to improve physical performance as well as to enlarge muscles and increase strength. Negative effects of steroids include baldness, cysts, oily hair and skin, acne, heart attack, stroke and change in voice. Hostility is also a frequent side effect of anabolic steroids.</p>

<font style="color:blue;size:20"/><strong>Types of drugs include:<br/></strong>

          <font style="color:black;"/><ul type="circle"><li>Anadrol</li>
          <li>Oxandrin</li>
          <li>Durabolin</li>
          <li>Stanozol</li>
          <li>Dianabol</li>
          <li>Hallucinogens</li>
        </ul>
<p>When taking hallucinogens, switching emotions is frequent. These drugs change the mind and cause the appearance of things that are not really there. Hallucinogens affect the body’s self-control, such as speech and movement, and often bring about hostility. Other negative side effects of these drugs include heart failure, increased heart rate, higher blood pressure and changes in the body’s hormones.<p/>

          <font style="color:blue;size:20"/><strong>Types of drugs include:<br/></strong>

          <font style="color:black;size:20"/><ul type="circle"><li> LSD (lysergic acid diethylamide)</li>
          <font style="color:black;"/><li> Mescaline</li>
          <li> Psilocybin</li>
           <li>Cannabis</li>
          <li>Magic Mushrooms</li>
        </ul>
          <font style="color:blue;size:20"/><strong>Prescription Drugs</strong>
          <p><font style="color:black;size:20"/>Prescription drugs can be very helpful drugs when used properly and when under the guidance of a qualified physician. These drugs can be used as aids in surgery, to treat medical conditions and while controlling various symptoms. Misuse and abuse of prescription drugs however can be very dangerous.</p>

<font style="color:blue;size:20"/><strong>Types of drugs include:</strong>

          <font style="color:black;"/><ul type="circle"><li>Opiods</li>
            <li>Codeine</li>
            <li>Oxycodone</li>
            <li>Morphine</li>
      </ul>
          <font style="color:blue;size:20"/><strong>Central nervous system depressants:<br/></strong>
         <font style="color:black;size:20"/><ul type="circle"> <li>barbiturates</li>
              <li>benzodiazepines</li>
      </ul>
          <font style="color:blue;size:20"/><strong>Stimulants:<br/></strong>
              <font style="color:black;size:20"/><ul type="circle"><li>dextroamphetamine</li>
              <li>methylphenidate</li>
              </ul>

          <!--div class="span6">
            <iframe src="http://player.vimeo.com/video/24535181?title=0&amp;byline=0" width="500" height="281" seamless></iframe>
          </div>
        </div>

        <! divider -->
        <div class="row">
          <div class="span50">
            <div class="solidline"></div>
          </div>
        </div>
        <!-- end divider -->

        <!--div class="row team">
          <div class="span12">
            <h4>Nice persons behind Remember</h4>
          </div>

          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="img/dummies/team1.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Vincent Austin Jr</strong></p>
                <p>
                  CEO - Founder
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>

              </div>
            </div>
          </div>
          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="img/dummies/team2.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Tommy Laugher</strong></p>
                <p>
                  Lead designer
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="img/dummies/team3.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Gabirelle Borowski</strong></p>
                <p>
                  Customer support
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div-- class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="img/dummies/team4.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Benny Strongton</strong></p>
                <p>
                  Coffee maker
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div-->
        </div>

      </div>
    </section>


    <footer>
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <div class="footer_logo">
                <h3><a href="index.html"><i class="icon-tint"></i> who we are</a></h3>
              </div>
              <address>
							  <strong>Remember company Inc.</strong><br>
  							Aster India<br>
  							Kadavandhra<br>
                            Ernakulam<br>
                            kerala,India

  						</address>
              <p>
                <i class="icon-phone"></i> 048428567890,9876543222 <br>
                <i class="icon-envelope-alt"></i> aster@gmail.com
              </p>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">Browse pages</h5>
              <ul class="link-list">
                <li><a href="#">Our company</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Press release</a></li>
                <li><a href="#">What we have done</a></li>
                <li><a href="#">Our support forum</a></li>
              </ul>

            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">From flickr</h5>
              <div class="flickr_badge">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p><span>&copy; Remember Inc. All right reserved</span></p>
              </div>

            </div>

            <div class="span6">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Remember
                -->
                Created by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/modernizr.custom.js' %}"></script>
  <script src="{% static 'js/toucheffects.js' %}"></script>
  <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
  <script src="{% static 'js/portfolio/setting.js' %}"></script>
  <script src="{% static 'js/animate.js' %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>
